*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html{
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  height: 100%;
  margin: 0;
  padding: 0;
}

button{
  text-transform: none;
  background-image: none;
  background-color: transparent;
}

h1,h2,h3,h4,h5,h6,p,hr{
  margin: 0;
}

menu, ol, ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color:inherit;
  text-decoration: inherit;
}


img{
  display: block;
  height: auto;
  max-width: 100%;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: inherit;
}

hr{
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

main{
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  background: url(../public/images/home.jpg) no-repeat bottom/cover;
}



#root{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  width: 100%;
}

.home, .contact, .cart__sec, .catalog{
  min-height: calc(100vh - 160px - 128px);
}

/* header */



.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  width: 100%;
  min-height: 160px;
}

.header__title{
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(134 239 172/var(--tw-text-opacity));
}

.nav__flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:4rem;
}

.nav__flex__item{
  font-size: 1.5rem;
  line-height: 2rem;
  color:white;

}

.nav__flex__item:hover{
  transition-duration: .15s;
  transition-property: color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  color: rgb(134, 239, 172);
}

.cart{
  background: url(../public/images/cart.svg) no-repeat 50%/cover;
  width: 3rem;
  height: 3rem;
  display: block;
}

.cart__elements{
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity));
  font-weight: 700;
  text-align: center;
  padding: .5rem;
  --tw-bg-opacity: 1;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  left: 1520px;
  top:  100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* header */

/* footer */

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap ;
  width: 100%;
  gap:1.25px;
  padding-bottom: .75rem;
  padding-top: .75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
}

.footer p{
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  font-size: 1.5rem;
  line-height: 2rem;
}

.footer a{
  background: url(../public/images/git.svg) no-repeat 50%/cover;
  width: 2.5rem;
  height: 2.5rem;
}

/* footer */

/* Home */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home__text{
  gap: 1.25rem;
  flex-direction: column;
  display: flex;
  max-width: 600px;
  width: 100%;

}

.home__title{
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.home__desc{
  line-height: 1.4;
  font-weight: 800;
  font-size: 3.75rem;
}

.home__love{
  display: inline-block;
  height: 50px;
  width: 50px;
}

.home__btn{
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  border-radius: 1rem;
  max-width: 220px;
  width: 100%;
  display: block;
}

.home__btn:hover{
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}

.home__content{
  max-width: 600px;
  width: 100%;
}

.home__people{
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);  
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  border-radius: 30px;
}

/* Home */

/* Cart */

.cart__sec{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap:2.5rem;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cart__purchase{
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  border-radius: 1rem;
  gap:1.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.cart__total{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cart__btn{
  --tw-text-opacity: 1;
  color: rgb(134 239 172/var(--tw-text-opacity));
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
}

.cart__btn:hover {
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}

.cart__items{
  flex-direction: column;
  display: flex;
  gap:2rem;
  max-width: 600px;
  width: 100%;
}

.cart__product__item{
  text-align: left;
  align-items: flex-end;
  flex-direction: row;
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  padding: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  border-radius: 1rem;
  gap:2rem;
  width: 100%;
  display: flex;
  position: relative;
}

.cart__product__img{
  object-fit: contain;
  max-width: 150px;
  width: 100%;
  display: block;
  height: auto;
}

.cart__product__content{
  gap: 1.5rem;
  justify-content: center;
  flex-direction: column;
  display: flex;

}

.cart__product__name{
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity));
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 300px;
}

.cart__product__price{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.add__remove{
  justify-content: flex-start;
  display: flex;
  gap:1.25rem;
  align-items: center;
}

.minus{
  background: url(../public/images/minus.svg) no-repeat 50%/cover;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.plus{
  background: url(../public/images/plus.svg) no-repeat 50%/cover;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.delete{
  width: 1.75rem;
  height: 1.75rem;
  top:.5rem;
  right: .5rem;
  position: absolute;
  cursor: pointer;
  background: url(../public/images/cross.svg) no-repeat 50%/cover;
}

.minus:hover,
.plus:hover,
.delete:hover{
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}


.cart__bottom__price{
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  right: 1rem;
  bottom: .75rem;
  position: absolute;
}

/* Cart */


/* ProductItem */
.product__item{
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  padding: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99/var(--tw-border-opacity));
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}


.product__link div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
}

.product__item__img{
  display: block;
  max-width: 150px;
  object-fit: contain;
}

.product__name{
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity));
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  min-height: 90px;

}

.product__price{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.product__btn{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(134 239 172/var(--tw-text-opacity));
  border-radius: .5rem;
  width: 100%;
  cursor: pointer;
}

.product__btn:hover{
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}

/* ProductItem */

/* Catalog */ 
.catalog{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* Catalog */


/* DisplayedProduct */

.displayed{
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: flex-start;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.back{
  --tw-text-opacity: 1;
  color: rgb(134 239 172/var(--tw-text-opacity));
  padding: .75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  border-radius: .5rem;
  display: block;
  text-decoration: inherit;
}

.back:hover{
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}

.displayed__flex__content{
  --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
--tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
padding: 30px;
--tw-bg-opacity: 1;
background-color: rgb(255 255 255/var(--tw-bg-opacity));
border-radius: 1.5rem;
gap:2.5rem;
width: 100%;
display: flex;
}

.displayed__content{
  max-width: 700px;
  width: 100%;

}

.displayed__img{
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.displayed__text{
  gap:1.5rem;
  flex-direction: column;
  display: flex;
}

.displayed__title{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.displayed__price{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.displayed__desc{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.displayed__btn{
  font-weight: 700;
  --tw-text-opacity: 1;
color: rgb(134 239 172/var(--tw-text-opacity));
font-size: 1.5rem;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 1.25rem;
padding-right: 1.25rem;
--tw-bg-opacity: 1;
background-color: rgb(17 24 39/var(--tw-bg-opacity));
border-radius: .5rem;
width: 100%;
cursor: pointer;
}

.displayed__btn:hover{
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}

/* DisplayedProduct */


/* Contact */

.contact{
  gap:3.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.contact address{
  gap: 1.25rem;
  flex-wrap: wrap;
  flex-direction: column;

}

.my__contacts{
  gap:4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;

}

.my__contacts__flex:hover{
  transition-duration: .3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  opacity: 0.8; 
}

.my__contacts a{
  width: 8rem;
  height: 8rem;
  background: url(../public/images/git.svg) no-repeat 50%/cover;
  display: block;
}

.my__contacts li:last-child a{
  background: url(../public/images/telegram.png) no-repeat 50%/cover;
}

.company__text{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.address__text{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Contact */
